* {
  background-color: black;
}

h1 {
  font-family: helvetica;
  color: white;
}

p {
  color: white;
}

ul {
  color: white;
}

#gameResults {
  size: 14px;
  border: 2px solid white;
  max-width: 200px;
  text-align: center;
}
