* {
  background-color: black;
}

h1 {
  font-family: helvetica;
  color: white;
  position: relative;
  text-align: center;
}

h3 {
  color: white;
  margin: 0px 10px;
  padding: 7px 0px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}

p, ul, ol, dl {
  color: white;
}

#gameResults {
  size: 14px;
  border: 2px solid white;
  max-width: 250px;
  text-align: center;
}
