* {
  background-color: black;

}

h1 {
  font-family: helvetica;
  color: white;
}

h3 {
  color: white;

  text-align: center;
  border: 1px solid gray;
}

p {
  color: white;
}

ul {
  color: white;
}

ol {
  color: white;
}

#gameResults {
  size: 14px;
  border: 2px solid white;
  max-width: 250px;
  text-align: center;
}
